@import './components/banner';
@import './components/card-person';
@import './components/buttons';
@import './components/card-portfolio';
@import './components/contacts';
@import './components/footer';
@import './components/header';
@import './components/icons-social-media';
@import './components/logo';
@import './components/modal-window';
@import './components/navigation';
@import './components/newsletter';
@import './components/position-components';
@import './components/section-customers';
@import './components/section-our-job';
@import './components/section-team';
@import './components/vars';


h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

h5 {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    line-height: 3;
}

p {
    line-height: 1.8;
}

a {
    line-height: 2.2;
}