.title-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 617px;
  margin: 0 auto;
}
.title {
  text-align: center;
  background: var(--dark-color);
  background: url("../images/banner/banner.jpg") no-repeat 50% 50% / cover;
}
.banner-gradient {
  background-color: var(--banner-background);
  padding: 200px;
}
