.header__contacts--position {
  margin-left: 250px;
  display: flex;
  align-items: center;
}
.header__contact--space {
  padding-right: 50px;
}
.header__contacts-link--text {
  color: var(--gray-color);
  
}
.header__contacts-link--text:hover {
  color: var(--blue-color);
}

.header__icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}


.footer__address {
  padding-bottom: 30px;
  
 }
.footer__address__link--color-white {
  color: var(--white-color);
}
.footer__address__link--color-gray {
  color: var(--light-gray-text-color);
}