.logo__link--text {
    font-family: "raleway", sans-serif;
    color: var(--blue-color);
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.6;
}
.logo__link--text:hover .logo--text-white,
.logo__link--text:hover .logo--text-black {
    color: var(--blue-color);
    transition: var(--transition);
}
// text decoration in logo header
.logo--underline {
    position: relative;
}
.logo--underline::after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    top: 51px;
    border-radius: 2px;
    right: 0;
    background: var(--blue-color);
    transition: width 0.5s, right 0.5s;
}
.logo--underline:hover::after {
    width: 100%;
    left: 0;
}
// logo in header
.logo--text-black {
    color: var(--logo-black-color);
}
// logo in footer
.logo--text-white {
    color: var(--white-color);
}


