.nav-position {
  padding-right: 220px;
}

.group-studio {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  gap: 30px;
}
.customers {
  display: flex;
  justify-content: space-between;
  text-align: center;
 
}

.group-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
